.compare-wrap{padding-top: 60px; padding-bottom: 30px;}
.compare-wrap .grid-full .col-md-6{
	width: 100%;
}
.compare-wrap .text-align, .compare-wrap .show-grid.title{
	text-align: center;		
}
.compare-wrap .show-grid [class^=col-] {
	background-color: #fff;
	color: #333;
	border: 1px solid #e1e1e8;
	border-top: none;
}
.compare-wrap .show-grid{ margin-bottom: 0;}
.compare-wrap .text-left .col-md-6{ padding-left: 20px;}
.compare-wrap .row{ margin: 0;}
.compare-wrap .progress-bar{ color: #000; margin-bottom: 0;}
.compare-wrap .progress{ margin: 10px;}
.compare-wrap .parent .col-md-6{ background-color: #fff !important; font-weight: bold; font-size: 16px;}
.compare-wrap .sub .col-md-6{ font-weight: bold;  background-color: #eee !important; }
.compare-wrap .progress .right{ float: right; }
.compare-wrap .show-grid.title{
	text-transform: uppercase;
	font-size: 20px;
	border-top: 1px solid #e1e1e8;	
}
.compare-wrap .show-grid.title .col-md-6{ 
	background-color: #eee !important;		
}
.compare-wrap .product-img .col-md-6{ text-align: center; padding-bottom: 48px;}