.wrapper-page{}
.wrapper-page h1.text-hide{margin: 0}
.wrapper-page .navbar-inverse .navbar-brand{
  color: #fff;
  text-indent: -9999em;
  background: url(../img/logo.png) no-repeat;
  display: block;
  width: 200px;
  height: 50px;
}
.top-right-mb{}
.top-right-mb .btn-group{
  float: right;
  margin: 0px 0 0 40px;
}
.top-right-mb .btn-group.btn-sm{
  padding:0;
  margin-top: 8px;  
}
.title-top{padding-bottom: 40px;}  
.title-top .btn-group{float: right;}
.product-card{text-align: center;}
.product-card .item-phone{
  border: 1px solid transparent;
  margin-bottom: 30px;
  position: relative;
}
.product-card .item-phone img{
  border-radius:6px;
}
.product-card .item-phone:hover{
  /*border-radius:6px;
  border:1px solid #563d7c;*/
}
.product-card{
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.list-style-button {
  text-align: right;
}
.item-phone img{ 
  width: 260px;
  height: 400px;/*398*/
  overflow: hidden;
}
.item-phone a:hover{text-decoration: none;}
.item-phone img{
  max-width: 100%;
  height: auto;
  display: block;
}

.listthumb li{
  min-height: 395px;
}

.liststyle ul li {
  clear:both;
  text-align: left;
}
.liststyle .item-phone img{
  float:left;
  margin-right: 20px;
}
.liststyle .product-card  .mfr{ 
  display: block;
}
.liststyle .product-card  .model{ 
  min-height: 0;
}
.product-card .model{
  display: block;
  color: #243549;
  font-size: 20px;
  font-weight: 400;
  padding-top: 12px;
  min-height: 70px;
}
.product-card .mfr{
  font-size: 13px;
  font-weight: 400;
  display: none;
  color: #5a6a7a;
}
.wrap-compare{padding-bottom: 40px;}
.wrap-compare .input-container{
  display: inline-block;
  vertical-align:bottom;
}
.wrap-compare h3{
  text-align: center;
  text-transform: uppercase;
}
.wrap-compare .vs{
  height: 60px;
  width: 40px;
  font-size: 22px;
  line-height: 47px;
  font-weight: 700;
  color: #5a6a7a;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.wrap-compare input.product1{
  width: 330px;
  text-align: right;
}
.wrap-compare input.product2{
  width: 330px;
}
.wrap-compare .error-message{
  padding: 6px 0 14px 0;
  height: 16px;
  color: red;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.wrap-compare button{
  display: block;
  margin: 0 auto;
  width: 290px;
  text-transform: uppercase;
  background: #5cb85c;
  color: #fff;
}
.wrap-compare button.large{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
}
.wrap-compare .btn-primary{
  margin: 0 auto;
  display: block;
  width: 290px;
  text-transform: uppercase;
  background: #5cb85c;
  color: #fff;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
}
.wrap-compare .btn-primary:hover{background: #5cb85c;}
.navbar-form .search-icon {
  font-size: 15px; 
 /* margin-right: 10px;*/
}
.item-phone input[type=checkbox]{
  margin-top: 0;
  width: 20px;
  height: 20px;
  position: absolute;
 left: 0;
 top: 0; 
}
.item-phone .price{
  color: #5CB85C;
}

.footer {
  text-align: center;
}