<div class="row">
  <ul class="product-card">
    <li class="col-xs-6 col-sm-3" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
        <div class="item-phone">
            <a href="#/phones/{{phone.id}}"><img ng-src="{{phone.imageUrl}}" alt="" /></a>
            <a href="#/phones/{{phone.id}}"><span class="model">{{phone.name}}</span></a>
            <small>
                <span class="mfr">{{phone.snippet}}</span> 
            </small>
        </div>
    </li>
  </ul>
</div>  


